.footer {
  background-color: gainsboro;
  position: fixed;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  height: 10vh;
  max-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: 0px;
  margin: 0 45px;
}

button:hover {
  cursor: pointer;
}

.home-btn img {
  width: 25px;
}

.fave-btn img {
  width: 25px;
}

.post-btn img {
  width: 20px;
}