h2 {
  color: #674ea7;
  text-align: center;
  transform: translateX(10pt);
}

.logoImage {
  padding-top: 0pt;
  margin-top: 0pt;
  width: 20pt;
  transform: translateY(2pt);
}

.HeaderStyle {
  background-color: white;
}

.profilePhoto {
  float: right;
  transform: translateY(30pt);
  transform: translateX(-25pt);
  width: 25pt;
  background-color: white;
}

hr {
  border: 1.5px solid #674ea7;
}
